*.gem
*.rbc
.bundle
.config
.yardoc
.rvmrc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
workflow_service.log
workflow_service.log.*
.ruby-version
.ruby-gemset
